Repository voxpupuli/puppet-squid, pull requests merged in 2018-03, with the labels that each got.

#84 specify Cache Replacement Policy
  README.md
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  spec/classes/init_spec.rb
  templates/squid.conf.header.erb
Labels: enhancement

#82 enable buffered logs
  README.md
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  spec/classes/init_spec.rb
  templates/squid.conf.header.erb
Labels: enhancement

#89 Fixes #8 Set selinux context of cache_dir and ports.
  .fixtures.yml
  README.md
  manifests/cache_dir.pp
  manifests/http_port.pp
  spec/classes/init_spec.rb
Labels: enhancement

#91 This commit applies a restorecon when using SELINUX
  manifests/cache_dir.pp
  spec/classes/init_spec.rb
Labels: enhancement

#90 New defined type squid::send_hit
  README.md
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  manifests/send_hit.pp
  spec/classes/init_spec.rb
  spec/defines/send_hit_spec.rb
  templates/squid.conf.send_hit.erb
Labels: enhancement

#87 Remove spurious ':' from refresh_pattern template
  README.md
  spec/defines/refresh_pattern_spec.rb
  templates/squid.conf.refresh_pattern.erb
Labels: backwards-incompatible, bug

#93 Prepare version 1.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
