Repository voxpupuli/puppet-squid, pull requests merged in 2020-09, with the labels that each got.

#135 Change the way SELinux is applied for portnumbers
  manifests/cache_dir.pp
  manifests/http_port.pp
  spec/classes/init_spec.rb
Labels: enhancement

#154 modulesync 3.0.0
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .msync.yml
  .overcommit.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  spec/acceptance/nodesets/archlinux-2-x64.yml
  spec/acceptance/nodesets/ec2/amazonlinux-2016091.yml
  spec/acceptance/nodesets/ec2/image_templates.yaml
  spec/acceptance/nodesets/ec2/rhel-73-x64.yml
  spec/acceptance/nodesets/ec2/sles-12sp2-x64.yml
  spec/acceptance/nodesets/ec2/ubuntu-1604-x64.yml
  spec/acceptance/nodesets/ec2/windows-2016-base-x64.yml
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#155 Drop EOL Debian 8
  .sync.yml
  .travis.yml
  manifests/params.pp
  metadata.json
  spec/acceptance/class_spec.rb
Labels: backwards-incompatible

#156 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
