Repository voxpupuli/puppet-squid, pull requests merged in 2025-06, with the labels that each got.

#196 modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  Gemfile
  spec/acceptance/class_spec.rb
  spec/classes/init_spec.rb
  spec/defines/cache_dir_spec.rb
  spec/spec_helper.rb
Labels: modulesync

#202 puppet-selinux: support for 5.x
  metadata.json
Labels: enhancement

#206 Drop FreeBSD 10 support
  metadata.json
Labels: backwards-incompatible

#204 Drop CentOS 8 support
  metadata.json
Labels: backwards-incompatible

#208 Drop Ubuntu 20.04 support
  metadata.json
Labels: backwards-incompatible

#209 Drop Debian 10
  metadata.json
Labels: backwards-incompatible

#207 Drop FreeBSD 11 support
  metadata.json
Labels: backwards-incompatible

#210 Add OracleLinux 9 support
  metadata.json
Labels: enhancement

#212 Add Debian 11 support
  metadata.json
Labels: enhancement

#213 Add FreeBSD 13 support
  metadata.json
Labels: enhancement

#215 Add Debian 12
  metadata.json
Labels: enhancement

#214 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement

#218 Release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
